<!DOCTYPE html>
<html lang="en">


<head>
    {% load static %}
    <meta charset="utf-8" />
    <title>Zelthy | {% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% block css %}
    {% endblock %}

</head>

<body>
    <div id="container" style="height: 100%"></div>


    {% block javascript %}
    {% endblock %}
</body>
</html>